.OurCrew{
    overflow: hidden;
    .Testimonials{
        padding-bottom: 50px;
        .buttons{
            @media (max-width:767px) {
                
                bottom: 50px;
            }
        }
    }
}